<body>
  <div class="container">
    <div class="filter">
      <div class="description-filter">
        <h1>Filtro de Vagas</h1>

        <h2>
          Modelo de Trabalho
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>

        <h2>
          Data de publicação
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>

        <h2>
          Jornada
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>

        <h2>
          Distância
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>

        <h2>
          Salário
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>

        <h2>
          Contrato
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>

        <h2>
          Tecnologias
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>

        <h2>
          Áreas
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>

        <h2>
          PCD
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>

        <div class="filter-button">
          <a href="vacancies-page#"><button>Limpar Filtro</button></a>
        </div>
      </div>
    </div>
    <div class="cards">
      <app-vacancy-card></app-vacancy-card>
    </div>
  </div>
</body>
