<body>
  <div class="container">
    <div class="filter">
      <div class="description-filter">
        <h1>Filtro de Vagas</h1>

        <h2>
          Modelo de Trabalho
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>
        <!-- 
        <p>
          <input type="checkbox" />
          <span>Presencial</span>
        </p>
        <p>
          <input type="checkbox" />
          <span>Home Office</span>
        </p>
        <p>
          <input type="checkbox" />
          <span>Híbrido</span>
        </p>
        -->
        <h2>
          Data de publicação
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>
        <!-- 
        <p>
          <input type="checkbox" />
          <span>Hoje</span>
        </p>
        <p>
          <input type="checkbox" />
          <span>Últimos 3 dias</span>
        </p>
        <p>
          <input type="checkbox" />
          <span>Última semana</span>
        </p>
        <p>
          <input type="checkbox" />
          <span>Últimos 15 dias</span>
        </p>
        <p>
          <input type="checkbox" />
          <span>Último mês</span>
        </p>
        -->
        <h2>
          Jornada
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>
        <!-- 
        <p>
          <input type="checkbox" />
          <span>Parcial manhãs</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Parcial tardes</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Parcial noites</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Noturno</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Período Integral</span>
        </p>
        -->
        <h2>
          Distância
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>
        <!-- 
        <p>
          <input id="inputLengthId" type="range" min="5" max="100" value="0" />
        </p>
        -->
        <h2>
          Salário
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>
        <!-- 
        <p>
          <input type="checkbox" />
          <span>Até R$ 1.000</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>A partir de R$ 1.000</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>A partir de R$ 2.000</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>A partir de R$ 3.000</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>A partir de R$ 4.000</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>A partir de R$ 5.000</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>A partir de R$ 6.000</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>A partir de R$ 7.000</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>A partir de R$ 8.000</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>A partir de R$ 9.000</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>A partir de R$ 10.000</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>A combinar</span>
        </p>
        -->
        <h2>
          Contrato
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>
        <!-- 
        <p>
          <input type="checkbox" />
          <span>Autônomo</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Cooperado</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Efetivo - CLT</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Estágio</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Jovem Aprendiz</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Prestador de Serviços</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Temporário</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Trainee</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Outros</span>
        </p>
        -->
        <h2>
          Tecnologias
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>
        <!-- 
        <p>
          <input type="checkbox" />
          <span>Front-end</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Back-end</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Full stack</span>
        </p>
        -->
        <h2>
          Áreas
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>
        <!-- 
        <p>
          <input type="checkbox" />
          <span>Arquitetura de rede</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Ciência de dados</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Computação</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Desenvolvedor mobile</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Engenharia de software</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Gestão de TI</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Jogos digitais</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Programador web</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Robótica</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Segurança da informação</span>
        </p>
        -->
        <h2>
          PCD
          <img src="/assets/img/angulo-para-baixo.png" />
        </h2>
        <!-- 
        <p>
          <input type="checkbox" />
          <span>Auditiva</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Fala</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Física</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Mental</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Pisicossocial</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Reabilitados</span>
        </p>

        <p>
          <input type="checkbox" />
          <span>Visual</span>
        </p>
        -->
        <div class="filter-button">
          <a href="vacancies-page#"><button>Limpar Filtro</button></a>
        </div>
      </div>
    </div>
    <div class="cards">
      <app-vacancy-card></app-vacancy-card>
    </div>
  </div>
</body>
