<section class="cards">
  <div class="vacancies-card">
    <div class="description1">
      <h1>Relevantes</h1>
    </div>

    <div class="vacancies">
      <h3>Analista De Suporte Jr/Pleno (Hibrido)</h3>
      <p>GMUD TECNOLOGIA E INFORMATICA. Americana - SP</p>
      <div class="divider1"></div>
    </div>

    <div class="vacancies">
      <h3>Analista De Suporte Jr/Pleno (Hibrido)</h3>
      <p>GMUD TECNOLOGIA E INFORMATICA. Americana - SP</p>
      <div class="divider1"></div>
    </div>

    <div class="vacancies">
      <h3>Analista De Suporte Jr/Pleno (Hibrido)</h3>
      <p>GMUD TECNOLOGIA E INFORMATICA. Americana - SP</p>
      <div class="divider1"></div>
    </div>

    <div class="vacancies">
      <h3>Analista De Suporte Jr/Pleno (Hibrido)</h3>
      <p>GMUD TECNOLOGIA E INFORMATICA. Americana - SP</p>
      <div class="divider1"></div>
    </div>
  </div>
</section>
