<body>
  <form action="">
    <div class="searchbar">
      <div class="searchbar-keyword">
        <div class="searchbar-keyword-filter">
          <label for="keyword">Qual vaga você está buscando?</label>
        </div>
        <div class="searchbar-keyword-input">
          <input
            type="text"
            name="keyword"
            id="keyword"
            placeholder="Qual vaga você está buscando?"
          />
        </div>
      </div>
      <div class="divider"></div>
      <div class="searchbar-keyword">
        <div class="searchbar-keyword-filter">
          <label for="location">Digite sua localização.</label>
        </div>
        <div class="searchbar-keyword-input">
          <input
            type="text"
            name="location"
            id="location"
            placeholder="CEP, Cidade, Estado, País..."
          />
        </div>
      </div>
      <div class="divider"></div>
      <div class="searchbar-mobile-button">
        <div class="searchbar-radio">
          <label for="home-office" class="radio-home-office">
            <input type="checkbox" class="home-office" id="home-office" />
            <div class="searchbar-radio-button">
              <div class="button"></div>
            </div>
          </label>
          <label for="home-office" class="">Home Office</label>
        </div>
        <div class="searchbar-button">
          <button><a routerLink="#">Buscar</a></button>
        </div>
      </div>
    </div>
  </form>

  <div class="pricing-card">
    <div class="description">
      <h2>Veja a lista de vagas que combinam com seu perfil</h2>

      <div class="premium-button">
        <a href="pricing"><button>Assine o Premium</button></a>
      </div>
    </div>
  </div>

  <div class="vacancies-card">
    <div class="description1">
      <h2>Vagas que podem ser de seu interesse</h2>
    </div>

    <div class="vacancies">
      <h3>Analista De Suporte Jr/Pleno (Hibrido)</h3>
      <p>GMUD TECNOLOGIA E INFORMATICA. Americana - SP</p>
      <div class="divider1"></div>
    </div>

    <div class="vacancies">
      <h3>Analista De Suporte Jr/Pleno (Hibrido)</h3>
      <p>GMUD TECNOLOGIA E INFORMATICA. Americana - SP</p>
      <div class="divider1"></div>
    </div>

    <div class="vacancies">
      <h3>Analista De Suporte Jr/Pleno (Hibrido)</h3>
      <p>GMUD TECNOLOGIA E INFORMATICA. Americana - SP</p>
      <div class="divider1"></div>
    </div>

    <div class="vacancies">
      <h3>Analista De Suporte Jr/Pleno (Hibrido)</h3>
      <p>GMUD TECNOLOGIA E INFORMATICA. Americana - SP</p>
      <div class="divider1"></div>
    </div>

    <div class="vacancies-button">
      <a href="vacancies-page"><button>Ver Mais</button></a>
    </div>
  </div>

  <div class="vacancies-card">
    <div class="description1">
      <h2>Vagas em Home Office</h2>
    </div>

    <div class="vacancies">
      <h3>Analista De Suporte Jr/Pleno (Hibrido)</h3>
      <p>GMUD TECNOLOGIA E INFORMATICA. Americana - SP</p>
      <div class="divider1"></div>
    </div>

    <div class="vacancies">
      <h3>Analista De Suporte Jr/Pleno (Hibrido)</h3>
      <p>GMUD TECNOLOGIA E INFORMATICA. Americana - SP</p>
      <div class="divider1"></div>
    </div>

    <div class="vacancies">
      <h3>Analista De Suporte Jr/Pleno (Hibrido)</h3>
      <p>GMUD TECNOLOGIA E INFORMATICA. Americana - SP</p>
      <div class="divider1"></div>
    </div>

    <div class="vacancies">
      <h3>Analista De Suporte Jr/Pleno (Hibrido)</h3>
      <p>GMUD TECNOLOGIA E INFORMATICA. Americana - SP</p>
      <div class="divider1"></div>
    </div>

    <div class="vacancies-button">
      <a href="vacancies-page"><button>Ver Mais</button></a>
    </div>
  </div>
</body>
