<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<body>
  <main class="pricing">
    <section class="card">
      <div class="card-title">
        <h2>Basic</h2>
        <p><i class="fa fa-rupee"></i><span>20</span>/Mês</p>
      </div>
      <div class="card-content">
        <ul>
          <li class="pricing-list-check">
            <span class="material-symbols-outlined">check</span
            ><i class="fa fa-check-circle"></i> Destaque-se e entre em contato
            com recrutadores
          </li>
          <li class="pricing-list-check">
            <span class="material-symbols-outlined">check</span
            ><i class="fa fa-check-circle"></i> Ultrapasse os candidatos não
            pagantes da vaga
          </li>
          <li class="pricing-list-close">
            <span class="material-symbols-outlined">close</span
            ><i class="fa fa-check-circle"></i> Identifique as vagas mais
            compatíveis com seu perfil
          </li>
          <li class="pricing-list-close">
            <span class="material-symbols-outlined">close</span
            ><i class="fa fa-times-circle"></i> Suporte prioritário para
            qualquer questão
          </li>
          <li class="pricing-list-close">
            <span class="material-symbols-outlined">close</span
            ><i class="fa fa-times-circle"></i> Seu CV é enviado automaticamente
            para as vagas mais compatíveis
          </li>
        </ul>
        <button><a href="#">Adquirir</a></button>
      </div>
    </section>

    <section class="card">
      <div class="card-title">
        <h2>Standard</h2>
        <p><i class="fa fa-rupee"></i><span>40</span>/Mês</p>
      </div>
      <div class="card-content">
        <ul>
          <li class="pricing-list-check">
            <span class="material-symbols-outlined">check</span
            ><i class="fa fa-check-circle"></i> Destaque-se e entre em contato
            com recrutadores
          </li>
          <li class="pricing-list-check">
            <span class="material-symbols-outlined">check</span
            ><i class="fa fa-check-circle"></i> Ultrapasse os candidatos não
            pagantes da vaga
          </li>
          <li class="pricing-list-check">
            <span class="material-symbols-outlined">check</span
            ><i class="fa fa-check-circle"></i> Identifique as vagas mais
            compatíveis com seu perfil
          </li>
          <li class="pricing-list-check">
            <span class="material-symbols-outlined">check</span
            ><i class="fa fa-times-circle"></i> Suporte prioritário para
            qualquer questão
          </li>
          <li class="pricing-list-close">
            <span class="material-symbols-outlined">close</span
            ><i class="fa fa-times-circle"></i> Seu CV é enviado automaticamente
            para as vagas mais compatíveis
          </li>
        </ul>
        <button><a href="#">Adquirir</a></button>
      </div>
    </section>

    <section class="card">
      <div class="card-title">
        <h2>Premium</h2>
        <p><i class="fa fa-rupee"></i><span>60</span>/Mês</p>
      </div>
      <div class="card-content">
        <ul>
          <li class="pricing-list-check">
            <span class="material-symbols-outlined">check</span
            ><i class="fa fa-check-circle"></i> Destaque-se e entre em contato
            com recrutadores
          </li>
          <li class="pricing-list-check">
            <span class="material-symbols-outlined">check</span
            ><i class="fa fa-check-circle"></i> Ultrapasse os candidatos não
            pagantes da vaga
          </li>
          <li class="pricing-list-check">
            <span class="material-symbols-outlined">check</span
            ><i class="fa fa-check-circle"></i> Identifique as vagas mais
            compatíveis com seu perfil
          </li>
          <li class="pricing-list-check">
            <span class="material-symbols-outlined">check</span
            ><i class="fa fa-times-circle"></i> Suporte prioritário para
            qualquer questão
          </li>
          <li class="pricing-list-check">
            <span class="material-symbols-outlined">check</span
            ><i class="fa fa-times-circle"></i> Seu CV é enviado automaticamente
            para as vagas mais compatíveis
          </li>
        </ul>
        <button><a href="#">Adquirir</a></button>
      </div>
    </section>
  </main>
</body>
