<body>
  <main class="background-radiant">
    <section class="helpcenter-title">
      <h1>Central de Ajuda</h1>
    </section>

    <section class="container">
      <section
        *ngFor="let section of sections.slice(0, 2)"
        class="helpcenter-text"
      >
        <h2>{{ section.sectionTitle }}</h2>

        <div class="content">
          <div
            class="accordion_item"
            *ngFor="let item of section.items; let i = index"
          >
            <div class="accordion_header" (click)="toggleAccordion(section, i)">
              {{ item.title }}
              <span class="icon" #icon>+</span>
            </div>

            <div
              class="accordion_content"
              #content
              [class.active]="item.active"
              [ngStyle]="{ 'height.px': item.active ? item.contentHeight : 0 }"
            >
              {{ item.content }}
            </div>
          </div>
        </div>
      </section>

      <section
        *ngFor="let section of sections.slice(2)"
        class="helpcenter-text"
      >
        <h2>{{ section.sectionTitle }}</h2>

        <div class="content">
          <div
            class="accordion_item"
            *ngFor="let item of section.items; let i = index"
          >
            <div class="accordion_header" (click)="toggleAccordion(section, i)">
              {{ item.title }}
              <span class="icon" #icon>+</span>
            </div>

            <div
              class="accordion_content"
              #content
              [class.active]="item.active"
              [ngStyle]="{ 'height.px': item.active ? item.contentHeight : 0 }"
            >
              {{ item.content }}
            </div>
          </div>
        </div>
      </section>
    </section>

    <aside class="helpcenter-aside">
      <div class="helpcenter-image">
        <img
          src="assets/img/Call center-cuate.svg"
          alt="homem no computador conversando com uma mulher no telefone."
        />
      </div>
      <div class="helpcenter-contact">
        <h2>
          Não encontrou oque precisa? Entre no nosso canal de atendimento e fale
          conosco.
        </h2>
        <a href="contact-us"><button>Fale Conosco</button></a>
      </div>
    </aside>
  </main>
</body>
