<header>
  <nav class="nav-bar">
    <div class="logo">
      <a routerLink="">
        <picture>
          <img src="assets/img/logo.svg" alt="Logo JobDeals" />
        </picture>
      </a>
    </div>
    <div class="nav-list">
      <ul>
        <li class="nav-item">
          <a routerLink="" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a routerLink="pricing" class="nav-link">Preços</a>
        </li>
        <li class="nav-item">
          <a routerLink="about" class="nav-link">A JobDeals</a>
        </li>
      </ul>
    </div>
    <div class="start-button">
      <a routerLink="signup-page"><button>Começar aqui</button></a>
    </div>
    <div class="mobile-menu-icon">
      <button (click)="toggleMenu()" #menuButton>
        <img
          class="icon"
          src="assets/img/menu_white.svg"
          alt="botão para abrir o menu"
          [ngClass]="{ open: isMenuOpen }"
        />
      </button>
    </div>
  </nav>
  <div class="mobile-menu" [ngClass]="{ open: isMenuOpen }" #menu>
    <ul>
      <li class="nav-item"><a routerLink="" class="nav-link">Inicio</a></li>
      <li class="nav-item">
        <a routerLink="pricing" class="nav-link">Preços</a>
      </li>
      <li class="nav-item">
        <a routerLink="about" class="nav-link">A JobDeals</a>
      </li>
    </ul>
    <div class="start-button">
      <a routerLink="signup-page"><button>Começar aqui</button></a>
    </div>
  </div>
</header>
