<footer>
    <div class="foot-bar">
        <div class="foot-logo">
            <a routerLink=""><img src="assets/img/logo.svg" alt="Logo JobDeals"></a>
            <p>JobDeals 2022</p>
            <p>Todos os direitos resevados</p>
        </div>
        <div class="foot-list">
            <ul>
                <li class="foot-titles">Sobre</li>
                <li class="foot-item"><a routerLink="about" class="foot-link">A JobDeals</a></li>
                <li class="foot-item"><a routerLink="copyright" class="foot-link">Direitos autorais</a></li>
                <li class="foot-item"><a routerLink="privacy-policy" class="foot-link">Políticas de privacidade</a></li>
                <li class="foot-item"><a routerLink="terms-of-use" class="foot-link">Termos de uso</a></li>
            </ul>
            <ul>
                <li class="foot-titles">Dúvidas</li>
                <li class="foot-item"><a routerLink="contact-us" class="foot-link">Fale Conosco</a></li>
                <li class="foot-item"><a routerLink="help-center" class="foot-link">Central de ajuda</a></li>
                <li class="foot-item"><a routerLink="analysis" class="foot-link">Analise</a></li>
                <li class="foot-item"><a routerLink="home-page" class="foot-link">Home</a></li>
                <li class="foot-item"><a routerLink="profile" class="foot-link">Perfil</a></li>
                <li class="foot-item"><a routerLink="settings-page" class="foot-link">Configuração</a></li>
                <li class="foot-item"><a routerLink="vacancies-page" class="foot-link">Página de vagas</a></li>
            </ul>
        </div>
    </div>
</footer>