<main class="container">
  <section class="privacy-text">
    <h1>Política de Privacidade</h1>
    <p>
      O site JobDeals é de propriedade da empresa JobDeals, que é a controladora
      de seus dados pessoais.<br />
      Nós adotamos esta Política de Privacidade, que determina como nós estamos
      processando as informações coletadas pelo site e também explica por quais
      razões nós precisamos coletar dados pessoais sobre você. Portanto, você
      deve ler esta Política de Privacidade antes de usar o site
      Projeto.JobDeals.<br />
      Nós cuidamos dos seus dados pessoais e assumimos a responsabilidade de
      garantir a confidencialidade e segurança de suas informações pessoais.<br />

      <br />
      <u>Estas São as Informações Pessoais que Coletamos:</u> <br /><br />
      você visita o site Projeto.JobDeals, nós automaticamente, coletamos certas
      informações sobre seu dispositivo, incluindo informações sobre seu
      navegador, endereço IP, fuso horário. Além disso, quando você navega pelo
      Site, nós coletamos informações sobre as páginas individuais ou produtos
      que você visualiza, sobre quais sites ou termos de busca redirecionar você
      para nosso Site, e sobre como você interage com o Site. Nós nos referimos
      a essas informações coletadas automaticamente como "Informações sobre o
      dispositivo". Além disso, nós podemos coletar dados pessoais que você
      fornecer (incluindo, mas não limitado a: Nome, Sobrenome, Endereço,
      informações de pagamento, etc) durante o processo de registro para poder
      cumprir o acordo.<br /><br />

      <u>Por Que Fazemos o Processamento dos Seus Dados?</u>
      <br /><br />Nossa maior prioridade é a segurança dos dados pessoais dos
      usuários e, portanto, nós podemos processar apenas dados mínimos, apenas
      enquanto for absolutamente necessário para a manutenção do site.
      Informações coletadas automaticamente são usadas para identificar
      possíveis casos de abuso e estabelecer dados estatísticos sobre o uso do
      site. Esses dados estatísticos não são agregados de outras formas que
      permitam a identificação de usuários específicos do sistema.<br />
      Você pode visitar o site sem nos contar sobre quem você é ou revelar
      qualquer informação que possa ser usada por outra pessoa para identificar
      você individualmente. Se, apesar disso, você quiser utilizar algum dos
      recursos do site, ou quiser receber nosso newsletter, ou quiser conceder
      outros detalhes através do preenchimento e envio de formulários, você
      poderá fornecer dados pessoais para nós, como seu e-mail, nome, sobrenome,
      cidade de residência, organização e número de telefone. Você pode escolher
      não fornecer dados pessoais para nós, mas, dessa forma, talvez você não
      consiga usar alguns dos recursos do site. Por exemplo, você não vai
      conseguir receber nossa Newsletter ou entrar em contato conosco
      diretamente pelo nosso site. Usuários que não tenham certeza sobre quais
      informações pessoais são obrigatórias são convidados a entrarem em contato
      conosco pelo e-mail projeto.jobdeals&commat;gmail.com.<br /><br />

      <u>Seus Direitos:</u> <br />
      <br />Se você morar na Europa, estes são os direitos garantidos quanto aos
      seus dados pessoais:<br />
      <br />O direito de ser informado.<br />
      O direito ao acesso.<br />
      O direito à retificação.<br />
      O direito de deletar.<br />
      O direito de restringir o processamento.<br />
      O direito da portabilidade de dados.<br />
      O direito à objeção.<br />
      <br />Direitos em relação a tomadas de decisão automáticas e à perfilagem.
      Se você quiser exercitar esses direitos, por favor entre em contato
      conosco usando os dados de contato abaixo.<br />
      <br />e-mail: Projeto.JobDeals&commat;gmail.com.br<br />
      telefone para contato: +55 (11) 98915-6764 <br /><br />
      Adicionalmente, se você mora na Europa, nós afirmamos que estamos
      processando suas informações com a finalidade de cumprir contratos que
      possamos ter firmado com você (por exemplo, se você fizer uma compra no
      nosso Site), ou para exercer os interesses legítimos da nossa empresa
      listados acima. Além disso, por favor saiba que suas informações podem ser
      transferidas para fora da Europa, incluindo para o Canadá e os Estados
      Unidos da América.<br /><br />

      <u>Segurança das Informações:</u> <br />
      <br />Nós garantimos que as informações que você fornece estão em
      servidores e computadores armazenados em ambientes seguros e controlados,
      protegidos de acessos, usos e divulgações não-autorizadas. Nós mantemos
      medidas de segurança administrativas, técnicas e físicas razoáveis, com
      finalidade de proteger os dados pessoais sob nossa custódia de acessos,
      usos, modificações e divulgações não-autorizadas. Apesar disso, nenhuma
      transmissão de dados pela Internet ou por sistemas sem fio pode ser
      garantida.<br /><br />

      <u>Declaração Legal:</u> <br />
      <br />Nós vamos divulgar qualquer informação que coletamos, usamos ou
      recebemos caso tal divulgação seja solicitada ou permitida por lei, de
      forma a cumprir intimações ou processos judiciais similares, e também
      quando considerarmos em boa fé que a divulgação é necessária para a
      proteção de nossos direitos, para a proteção da segurança de outros, para
      investigações de fraude ou para responder a uma solicitação do governo.<br /><br />

      <u>Informações de Contato:</u> <br />
      <br />Se você quiser entrar em contato conosco para saber mais sobre esta
      Política de Privacidade, ou quiser acessar quaisquer informações relativas
      aos seus direitos individuais e às suas Informações Pessoais, você poderá
      enviar um e-mail para o endereço projeto.jobdeals&commat;gmail.com.
    </p>
  </section>
</main>
