<main class="container">
  <section class="profile-card">
    <img src="assets/img/icon-profile.png" alt="perfil" class="profile-image" />

    <div class="profile-text">
      <h1 id="getName" class="name">Kauã Dias</h1>
      <div class="description">
        <p>Desenvolverdor | FrontEnd | JavaScript</p>
        <p>Nível do Perfil: Dev Sênior</p>
      </div>
      <figure class="profile-address">
        <img
          src="../../../assets/img/icon-address.png"
          alt="endereço"
          class="address-ico"
        />
        São Paulo- SP
      </figure>
    </div>

    <div class="socials">
      <a>
        <img src="assets/img/icon-github.svg" alt="" class="github-ico2"
      /></a>
      <a>
        <img
          src="assets/img/icon-instagram.svg"
          alt=""
          class="instagram-ico4"
        />
      </a>
      <a>
        <img src="assets/img/icon-facebook.svg" alt="" class="facebook-ico2"
      /></a>
    </div>

    <div class="card">
      <div class="description">
        <h2>Veja em quais vagas se candidatou</h2>
        <div class="apply-button">
          <a href=""><button>Candidaturas</button></a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="description">
        <h2>Tecnologias</h2>
        <div class="socials">
          <a>
            <img
              src="../../../assets/img/html-5.png"
              alt=""
              class="html-ico4"
            />
          </a>
          <a>
            <img src="../../../assets/img/css-3.png" alt="" class="css-ico4" />
          </a>
          <a>
            <img
              src="../../../assets/img/script-java.png"
              alt=""
              class="javascript-ico4"
            />
          </a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="description">
        <h2>Idiomas</h2>
        <p>
          <li>Inglês</li>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="description">
        <h2>Localidade</h2>
        <p>
          CEP: 03701-012 <br />
          Endereço: Avenida Gabriela Mistral <br />
          Número: 611 <br />
          Bairro: Penha de França <br />
          Cidade: São Paulo <br />
          Estado: SP
        </p>
      </div>
    </div>

    <div class="card">
      <div class="description">
        <h2>Dados Pessoais</h2>
        <p>
          Nome: Kauã Cardoso Dias <br />
          Data de nascimento: 15/08/1998 <br />
          Ocupação: Desenvolvedor FrontEnd<br />
          Sexo: Masculino<br />
          Estado civil: Solteiro<br />
          Nacionalidade: Brasileiro(a)
        </p>
      </div>
    </div>

    <div class="card">
      <div class="description">
        <h2>Formação Academica</h2>
        <p>
          Anhanguera <br />
          Tecnólogo em Análise e desenvolvimento de sistemas <br />
          2018-2020
          <br />
          Anhanguera <br />
          Pós graduação em Desenvolvimento front end <br />
          2020-2021
        </p>
      </div>
    </div>
  </section>

  <section class="profile-info">
    <div class="profile-card1">
      <div class="description">
        <h2>Sobre Mim</h2>
        <p>
          Olá, sou um admirador da tecnologia, apaixonado por programação. Busco
          constantemente novos desafios e oportunidades para crescer e aprender.
          Além do meu interesse profissional, acredito na importância do
          equilíbrio entre trabalho e lazer e valorizo as relações
          interpessoais. <br />
          Estou sempre aberto a novas conexões e experiências.
        </p>
      </div>
    </div>

    <div class="profile-card1">
      <div class="description">
        <h2>Experiência Profissional</h2>
        <p>
          <li>
            Front end developer - TOTVS <br />set.de 2020-0 momento . 3 anos 3
            meses<br />
            São Paulo, Brasil
          </li>
          <li>
            Web Developer - B2W Digital <br />jun.de 2018- set. de 2020 . 2 anos
            4 meses
          </li>
          <li>
            Analista de sistemas Techne Engenharia e Sistemas<br />
            jun.de 2017-jun. de 2018. 1 ano 1 mês <br />São Paulo e Região
          </li>
          <li>
            Desenvolvedor Web - Murano Design <br />nov.de 2015-jan. de 2017. 1
            ano 3 meses <br />São Paulo e Região
          </li>
          <li>
            Jovem Aprendiz Espro <br />mar.de 2015 - set. de 2015 . 7 meses
            <br />São Paulo e Região
          </li>
        </p>
      </div>
    </div>

    <div class="profile-card1">
      <div class="description">
        <h2>Projetos</h2>
        <p>
          <li>calculadora</li>
          <li>gerador de senhas</li>
          <li>rolagem de dados</li>
          <li>landing page</li>
        </p>
      </div>
    </div>

    <div class="profile-card1">
      <div class="description">
        <h2>Certificações</h2>
        <p>
          <li>
            HTML- Avangado<br />
            Fundação Bradesco
          </li>
          <li>
            Microsoft Excel 2010 - Intermediário<br />
            Fundação Bradesco
          </li>
          <li>
            Introdução à Programação Orientada a Objetos (POO)<br />
            Fundação Bradesco
          </li>
          <li>
            Fundamentos de Lógica de Programação<br />
            Fundação Bradesco
          </li>
          <li>
            Fundamentos do Design Gráfico<br />
            Fundação Bradesco
          </li>
          <li>
            Google Ads Search Certification<br />
            Google
          </li>
          <li>
            Shopping ads Certification<br />
            Google
          </li>
          <li>
            Curso Javascript Ninja<br />
            Udemy<br />
            Desenvolvimento de Aplicações Web com HTML5, CSS3, JavaScript e
            PhoneGap Impacta Tecnologia
          </li>
        </p>
      </div>
    </div>

    <div class="profile-card1">
      <div class="description">
        <h2>Competências</h2>
        <p>
          <li>React Native</li>
          <li>React.js</li>
          <li>Angular (Framework)</li>
          <li>JavaScript</li>
          <li>Java</li>
          <li>HTML</li>
          <li>CSS : JQuery</li>
          <li>Swift</li>
          <li>Objective-C</li>
          <li>Microsoft SQL Server</li>
          <li>Desenvolvimento de software</li>
          <li>SQL</li>
          <li>Análise de sistemas</li>
        </p>
      </div>
    </div>

    <div class="profile-card1">
      <div class="description">
        <h2>Habilidades</h2>
        <p>
          <li>Trabalho em equipe</li>
          <li>Liderança</li>
          <li>Pensamento criativo</li>
          <li>Resolução de problemas </li>
          <li>Programação</li>
        </p>
      </div>
    </div>
  </section>
</main>
