<main class="container">
  <section class="copyright-text">
    <h1>Direitos Autorais</h1>
    <p>
      ©2023 JobDeals. Todos os direitos reservados. O conteúdo deste site,
      incluindo textos, logotipos e outros materiais, é protegido por leis de
      direitos autorais e é propriedade exclusiva da JobDeals, salvo indicação
      em contrário. A reprodução, distribuição ou utilização não autorizada de
      qualquer parte do conteúdo sem permissão expressa por escrito é
      estritamente proibida. Todas as marcas registradas mencionadas neste site
      são propriedade de seus respectivos proprietários.<br />
      <br />Aviso Legal:<br />
      <br />As informações fornecidas no site JobDeals são apenas para fins
      informativos e não constituem aconselhamento jurídico, financeiro ou
      profissional. A JobDeals não assume qualquer responsabilidade por ações
      tomadas com base nas informações fornecidas no site.<br />
      Para obter aconselhamento específico sobre contratação de pessoal ou
      qualquer outra questão, consulte um profissional qualificado na área.<br />
      <br />
      Para obter permissão para reproduzir qualquer parte deste site, entre em
      contato conosco.
    </p>
  </section>
</main>
