<footer>
    <div class="foot-bar">
        <div class="foot-logo">
            <a href="index.html"><img src="assets/img/logo.svg" alt="Logo JobDeals"></a>
            <p>JobDeals 2022</p>
            <p>Todos os direitos resevados</p>
        </div>
        <div class="foot-list">
            <ul>
                <li class="foot-titles">Sobre</li>
                <li class="foot-item"><a href="about.html" class="foot-link">A JobDeals</a></li>
                <li class="foot-item"><a href="copyright.html" class="foot-link">Direitos autorais</a></li>
                <li class="foot-item"><a href="privacy-policy.html" class="foot-link">Políticas de privacidade</a></li>
                <li class="foot-item"><a href="terms-of-use.html" class="foot-link">Termos de uso</a></li>
            </ul>
            <ul>
                <li class="foot-titles">Dúvidas</li>
                <li class="foot-item"><a href="contact-us.html" class="foot-link">Fale Conosco</a></li>
                <li class="foot-item"><a href="help-center.html" class="foot-link">Central de ajuda</a></li>
            </ul>
        </div>
    </div>
</footer>