<header>
  <nav class="nav-bar">
    <div class="logo">
      <a href="index.html">
        <picture>
          <img src="assets/img/logo.svg" alt="Logo JobDeals" />
        </picture>
      </a>
    </div>
    <div class="nav-list">
      <ul>
        <li class="nav-item">
          <a href="index.html" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="pricing.html" class="nav-link">Preços</a>
        </li>
        <li class="nav-item">
          <a href="about.html" class="nav-link">A JobDeals</a>
        </li>
      </ul>
    </div>
    <div class="start-button">
      <a href="signup.html"><button>Começar aqui</button></a>
    </div>
    <div class="mobile-menu-icon">
      <button onclick="menuShow()">
        <img
          class="icon"
          src="assets/img/menu_white.svg"
          alt="botão para abrir o menu"
        />
      </button>
    </div>
  </nav>
  <div class="mobile-menu">
    <ul>
      <li class="nav-item"><a href="index.html" class="nav-link">Inicio</a></li>
      <li class="nav-item">
        <a href="pricing.html" class="nav-link">Preços</a>
      </li>
      <li class="nav-item">
        <a href="about.html" class="nav-link">A JobDeals</a>
      </li>
    </ul>
    <div class="start-button">
      <a href="signup.html"><button>Começar aqui</button></a>
    </div>
  </div>
</header>
