<main class="container">
  <section class="about-text">
    <h1>JobDeals</h1>

    <p>
      No âmbito da crescente demanda por profissionais de Tecnologia da
      Informação (TI) e o desejo de empresas em busca de colaboradores
      qualificados, criamos de um site dedicado ao cadastro de talentos do ramo
      tecnológico e empresas em busca de profissionais para integrar suas
      equipes. Nosso principal objetivo é proporcionar oportunidades de emprego
      para júniores, sêniores, plenos e estudantes, permitindo que eles
      ingressem no mercado de trabalho e adquiram experiência em diversas
      vertentes da área.
    </p>
    <h2>Sobre a JobDeals</h2>
    <p>
      O site que estamos desenvolvendo será dividido em duas partes distintas
      para atender a dois tipos de públicos: as pessoas da área da tecnologia da
      informação e as empresas que necessitam desses talentos. Esta abordagem
      visa otimizar a busca por empregos e colaboradores, facilitando o processo
      de recrutamento e seleção.
    </p>
    <h2>Vantagens para Candidatos</h2>
    <p>
      Para as pessoas da área de TI, nosso site oferecerá a possibilidade de
      criar um perfil detalhado, incluindo informações relevantes, como nome,
      formação acadêmica, objetivo de carreira, disponibilidade de local de
      trabalho, habilidades tecnológicas e certificações. Ao completar seu
      cadastro, essas pessoas estarão visíveis para as empresas que estão em
      busca de profissionais para suas vagas. Isso permitirá uma correspondência
      mais precisa entre as habilidades dos candidatos e as necessidades das
      empresas.
    </p>
    <h2>Vantagens para Empresas</h2>
    <p>
      As empresas terão a oportunidade de cadastrar suas vagas no site. Elas
      poderão fornecer informações específicas sobre suas oportunidades de
      emprego, incluindo o nome da empresa, a vaga disponível, salário,
      localização, benefícios, horário de trabalho e regime de contratação. Isso
      simplificará o processo de divulgação de vagas e atrairá candidatos mais
      alinhados com as necessidades das empresas.
    </p>
    <h2>Nossa Missão</h2>
    <p>
      Com esta plataforma, esperamos criar um ambiente que promova a conexão
      entre talentos da área de TI e empresas em busca de profissionais
      qualificados. Acreditamos que esse projeto não apenas auxiliará na busca
      por empregos e colaboradores, mas também contribuirá para o crescimento e
      desenvolvimento da indústria de Tecnologia da Informação, proporcionando
      oportunidades para todos os níveis de experiência e expertise na área.
    </p>
    <h2>Sobre Nós</h2>
    <p>
      A JobDeals foi criada em 2022 onde um grupo formado por quatro
      integrantes, Allysson Costa, Guilherme Zannon, Laryssa Ferrari e Talles
      Henrique, decidiram inovar a maneira de procurar trabalhos na área
      tecnológica no Brasil, e assim, enxergaram a oportunidade de fundar o site
      de empregos com o objetivo de facilitar o matching entre candidato e
      empresa.<br />Estamos ansiosos para ver essa comunidade crescer e
      prosperar, impulsionando o setor de TI para um futuro mais promissor.
      Junte-se a nós nessa jornada de inovação e oportunidades!
    </p>
  </section>
</main>