<link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<body>
  <div class="background-radiant">
    <main class="container">
      <section class="signup-text">
        <div class="logo">
          <a href="index.html">
            <picture>
              <img src="assets/img/logo.svg" alt="Logo JobDeals" />
            </picture>
          </a>
        </div>
        <div class="form-text">
          <h1>
            Fácil de usar, simples de entender, perfeito para encontrar vagas e
            talentos.
          </h1>
        </div>
        <div class="index">
          <a href="login"
            ><span class="material-symbols-outlined">arrow_back</span>IR PARA O
            LOGIN</a
          >
        </div>
      </section>

      <section class="form">
        <form id="form-api" method="post">
          <div class="form-header">
            <div class="signup-button">
              <a href=" "><button>Candidato</button></a>
            </div>
            <div class="signup-button-company">
              <a href=" "><button>Empresa</button></a>
            </div>
          </div>

          <div class="input-group">
            <div class="input-box">
              <input
                id="firstname"
                type="text"
                name="firstname"
                placeholder="Nome"
              />
              <i class="fas fa-exclamation-circle"></i>
              <i class="fas fa-check-circle"></i>
              <small></small>
            </div>
            <div class="input-box">
              <input
                id="lastname"
                type="text"
                name="lastname"
                placeholder="Sobrenome"
              />
              <i class="fas fa-exclamation-circle"></i>
              <i class="fas fa-check-circle"></i>
              <small></small>
            </div>
            <div class="input-box">
              <input
                id="email"
                type="email"
                name="email"
                placeholder="E-mail"
              />
              <i class="fas fa-exclamation-circle"></i>
              <i class="fas fa-check-circle"></i>
              <small></small>
            </div>
            <div class="input-box">
              <input
                id="password"
                type="password"
                name="password"
                placeholder="Senha"
                minlength="8"
              />
              <i class="fas fa-exclamation-circle"></i>
              <i class="fas fa-check-circle"></i>
              <small></small>
            </div>
            <div class="input-box">
              <input
                id="confirmpassword"
                type="password"
                name="confirmpassword"
                placeholder="Confirmar Senha"
              />
              <i class="fas fa-exclamation-circle"></i>
              <i class="fas fa-check-circle"></i>
              <small></small>
            </div>
          </div>
          <div class="continue-button">
            <div class="signup">
              <button type="submit">CADASTRAR</button>
            </div>
          </div>
        </form>
        <script src="assets/js/validateUser.js"></script>
      </section>
    </main>
  </div>
  <script
    src="https://kit.fontawesome.com/089ae6f9d6.js"
    crossorigin="anonymous"
  ></script>
</body>
