<body>
  <main class="container">
      <section>
          <div class="contact-img">
              <img src="assets/img/Contact us-amico.svg" alt="homem com uma lupa procurando canditatos.">
          </div>
      </section>
      <section>
          <section class="form-iframe">
              <iframe id="iframe1" allowtransparency="true" allowfullscreen="true"
                  allow="geolocation; microphone; camera" src="https://my.forms.app/form/654428ae452a1cb5cc6b06df"
                  frameborder="0"
                  style="width: 600px; min-width:100%; height:920px; border:none; border-radius: 20px;"></iframe>
              <iframe id="iframe2" allowtransparency="true" allowfullscreen="true"
                  allow="geolocation; microphone; camera" src="https://my.forms.app/form/654428ae452a1cb5cc6b06df"
                  frameborder="0"
                  style="width: 450px; min-width:100%; height:100vh; border:none; border-radius: 20px;"></iframe>
              <iframe id="iframe3" allowtransparency="true" allowfullscreen="true"
                  allow="geolocation; microphone; camera" src="https://my.forms.app/form/654428ae452a1cb5cc6b06df"
                  frameborder="0"
                  style="width: 300px; min-width:100%; height:100vh; border:none; border-radius: 20px;"></iframe>  
          </section>
      </section>
  </main>
</body>
