<body>
  <form action="">
    <div class="searchbar">
      <div class="searchbar-keyword">
        <div class="searchbar-keyword-filter">
          <label for="keyword">Qual vaga você está buscando?</label>
        </div>
        <div class="searchbar-keyword-input">
          <input
            type="text"
            name="keyword"
            id="keyword"
            placeholder="Qual vaga você está buscando?"
          />
        </div>
      </div>
      <div class="divider"></div>
      <div class="searchbar-keyword">
        <div class="searchbar-keyword-filter">
          <label for="location">Digite sua localização.</label>
        </div>
        <div class="searchbar-keyword-input">
          <input
            type="text"
            name="location"
            id="location"
            placeholder="CEP, Cidade, Estado, País..."
          />
        </div>
      </div>
      <div class="divider"></div>
      <div class="searchbar-mobile-button">
        <div class="searchbar-radio">
          <label for="home-office" class="radio-home-office">
            <input type="checkbox" class="home-office" id="home-office" />
            <div class="searchbar-radio-button">
              <div class="button"></div>
            </div>
          </label>
          <label for="home-office" class="">Home Office</label>
        </div>
        <div class="searchbar-button">
          <button><a routerLink="#">Buscar</a></button>
        </div>
      </div>
    </div>
  </form>

  <div class="container">
    <section class="profile-card">
      <img
        src="assets/img/icon-profile.png"
        alt="perfil"
        class="profile-image"
      />

      <div class="profile-text">
        <h1 id="getName" class="name">Kauã Dias</h1>
        <div class="description">
          <p>Desenvolverdor | FrontEnd | JavaScript</p>
          <p>Nível do Perfil: Dev Sênior</p>
        </div>
        <figure class="profile-address">
          <img
            src="../../../assets/img/icon-address.png"
            alt="endereço"
            class="address-ico"
          />
          São Paulo- SP
        </figure>
      </div>
    </section>

    <section class="profile-card">
      <img
        src="assets/img/icon-profile.png"
        alt="perfil"
        class="profile-image"
      />

      <div class="profile-text">
        <h1 id="getName" class="name">Kauã Dias</h1>
        <div class="description">
          <p>Desenvolverdor | FrontEnd | JavaScript</p>
          <p>Nível do Perfil: Dev Sênior</p>
        </div>
        <figure class="profile-address">
          <img
            src="../../../assets/img/icon-address.png"
            alt="endereço"
            class="address-ico"
          />
          São Paulo- SP
        </figure>
      </div>
    </section>

    <section class="profile-card">
      <img
        src="assets/img/icon-profile.png"
        alt="perfil"
        class="profile-image"
      />

      <div class="profile-text">
        <h1 id="getName" class="name">Kauã Dias</h1>
        <div class="description">
          <p>Desenvolverdor | FrontEnd | JavaScript</p>
          <p>Nível do Perfil: Dev Sênior</p>
        </div>
        <figure class="profile-address">
          <img
            src="../../../assets/img/icon-address.png"
            alt="endereço"
            class="address-ico"
          />
          São Paulo- SP
        </figure>
      </div>
    </section>

    <section class="profile-card">
      <img
        src="assets/img/icon-profile.png"
        alt="perfil"
        class="profile-image"
      />

      <div class="profile-text">
        <h1 id="getName" class="name">Kauã Dias</h1>
        <div class="description">
          <p>Desenvolverdor | FrontEnd | JavaScript</p>
          <p>Nível do Perfil: Dev Sênior</p>
        </div>
        <figure class="profile-address">
          <img
            src="../../../assets/img/icon-address.png"
            alt="endereço"
            class="address-ico"
          />
          São Paulo- SP
        </figure>
      </div>
    </section>

    <section class="profile-card">
      <img
        src="assets/img/icon-profile.png"
        alt="perfil"
        class="profile-image"
      />

      <div class="profile-text">
        <h1 id="getName" class="name">Kauã Dias</h1>
        <div class="description">
          <p>Desenvolverdor | FrontEnd | JavaScript</p>
          <p>Nível do Perfil: Dev Sênior</p>
        </div>
        <figure class="profile-address">
          <img
            src="../../../assets/img/icon-address.png"
            alt="endereço"
            class="address-ico"
          />
          São Paulo- SP
        </figure>
      </div>
    </section>

    <section class="profile-card">
      <img
        src="assets/img/icon-profile.png"
        alt="perfil"
        class="profile-image"
      />

      <div class="profile-text">
        <h1 id="getName" class="name">Kauã Dias</h1>
        <div class="description">
          <p>Desenvolverdor | FrontEnd | JavaScript</p>
          <p>Nível do Perfil: Dev Sênior</p>
        </div>
        <figure class="profile-address">
          <img
            src="../../../assets/img/icon-address.png"
            alt="endereço"
            class="address-ico"
          />
          São Paulo- SP
        </figure>
      </div>
    </section>
  </div>
</body>
