.container {
  margin: 1rem 0rem;
  width: 700px;
  height: auto;
  background-color: #7765f0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 26px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
}

.description h1 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #ebedf2;
  text-align: center;
}

.description h2 {
  margin-top: 6px;
  font-weight: 400;
  font-size: 1.2rem;
  color: #ebedf2;
  text-align: center;
}

.description p {
  margin-top: 30px;
  font-size: 1rem;
  color: #ebedf2;
}

.employment h3 {
  font-size: 1.2rem;
  color: #313131;
}

.employment p {
  margin-top: 15px;
  font-size: 1rem;
  color: #313131;
}

.employment {
  margin: 1rem 0rem;
  background-color: #b4ace4;
  border-radius: 20px;
  text-align: justify;
  padding: 26px;
}

.apply-button {
  text-align: center;
}

.apply-button button {
  border: none;
  height: 50px;
  background-color: #584ab0;
  padding: 0.4rem 5rem;
  margin-top: 20px;
  border-radius: 24px;
  cursor: pointer;
}

.apply-button a button {
  color: #ebedf2;
  text-decoration: none;
  font-weight: 800;
  font-size: 1rem;
  line-height: 37px;
  text-align: center;
}

/*---card confirmação---*/

.container1 {
  margin: 1rem 0rem;
  width: 700px;
  height: auto;
  background-color: #7765f0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 26px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
  justify-content: center;
}

.apply-confirmation h2 {
  margin-top: 6px;
  font-weight: 600;
  font-size: 1.5rem;
  color: #51ff00;
  text-align: center;
}

.apply-confirmation p {
  margin-top: 30px;
  font-size: 1rem;
  color: #ebedf2;
  text-align: center;
}

.apply-confirmation1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.apply-confirmation1 img {
  width: 64px;
  margin: auto;
}
