<div class="container">
  <div class="description">
    <h1>Analista De Suporte Jr/ Pleno</h1>
    <h2>Americana, São Paulo, a 135,2 km de você</h2>
    <p>
      <img src="../../../assets/img/estrela (1).png" />
      4,3 GMUD TECNOLOGIA E INFORMATICA
      <br />
      Publicado há 3 dias
      <br />
      <img src="../../../assets/img/mala-de-viagem (1).png" />
      Presencial
      <br />
      R$ 2.500,00 a R$ 3.000,00 (Bruto mensal)
      <br /><br />
      <strong>Sobre a Vaga:</strong>
      <br />
      Gmud Tecnologia, empresa especializada em serviços de TI, está contratando
      para trabalhar em uma Multinacional, Analistas de suporte para atendimento
      aos usuários de empresas de grande Porte.
      <br /><br />
      <strong>Conhecimentos em:</strong>
      <br />
      Suporte avançado em Windows.
      <br />
      Conexão remota via remote desktop
      <br />
      Instalação \ desinstalação de software
      <br />
      Leitura e execução de procedimentos
      <br />
      Conhecimento intermediário em redes
      <br />
      Impressora (Instalação/Configuração)
      <br /><br />
      <strong>Número de vagas:</strong> 1 <br /><br />
      <strong>Área Profissional: </strong>Analista em Informática, TI,
      Telecomunicações - Informática <br /><br />
      <strong>Exigências:</strong>
      <br />
      <li>Escolaridade Mínima: Ensino Superior</li>
      <li>Inglês (Intermediário)</li>
    </p>

    <div class="employment">
      <h3>Sobre a Empresa</h3>
      <p>
        A GMUD Tecnologia oferece soluções de ponta na área de redes de
        informática e alocação de profissionais de TI além de elaboração,
        gerenciamento e implantação de projetos. <br />
        Assumimos toda a responsabilidade pelo gerenciamento da implementação de
        todas as fases do projeto. Assim, você pode ficar tranquilo e se
        concentrar no que realmente importa O Seu Negócio. <br />
        Com muita experiência de seus sócios e colaboradores, a GMUD Tecnologia
        busca soluções que agreguem valor ao negócio do cliente. <br />GMUD
        integrando soluções e resultados. <br /><br />
        <strong>Setor:</strong> TI <br /><br />
        <strong>Funcionários:</strong> Pequeno (entre 20 e 99 funcionários)
        <br /><br />
        <strong>Matriz:</strong> São Paulo <br /><br />
        <strong>Links:</strong>
        <br />
        <li>Site Oficial</li>
      </p>
    </div>

    <div class="apply-button">
      <a href=""><button>Candidatar-se</button></a>
    </div>
  </div>
</div>

<div class="container1">
  <div class="apply-confirmation">
    <div class="apply-confirmation1">
      <img src="../../../assets/img/verifica (2).png" />
      <h2>Você se canditadou à vaga Analista de Suporte</h2>
    </div>
    <div class="apply-confirmation2">
      <p>
        <img src="../../../assets/img/notificacao (2).png" />
        Ative a notificação sobre a vaga
      </p>
    </div>
  </div>
</div>
