<main class="container">
  <section class="settings-card">
    <div class="searchbar">
      <div class="searchbar-keyword">
        <div class="searchbar-keyword-input">
          <span id="span1"></span>
          <input
            type="text"
            name="keyword"
            id="keyword"
            placeholder="Pesquisar em configurações"
          />
        </div>
      </div>
    </div>

    <div class="settings-text">
      <p><a href="#">Preferências da conta</a></p>
      <p><a href="#">Acesso e segurança</a></p>
      <p><a href="#">Privacidade dos dados</a></p>
      <p><a href="#">Notificações</a></p>
    </div>
  </section>

  <section class="settings-info">
    <div class="settings-card1">
      <div class="settings-ico">
        <a>
          <img
            src="../../../assets/img/configuracoes.png"
            alt=""
            class="html-ico4"
          />
        </a>
      </div>

      <div class="description">
        <h2>Configurações</h2>
        <p>Configurações gerais para indentidade e metadados do site</p>
      </div>
    </div>

    <div class="settings-card2">
      <div class="description">
        <h3>Informação do perfil</h3>
      </div>
    </div>

    <div class="settings-card2">
      <div class="description">
        <h3>Preferências gerais</h3>
      </div>
    </div>

    <div class="settings-card2">
      <div class="description">
        <h3>Assinaturas e pagamentos</h3>
      </div>
    </div>

    <div class="settings-card2">
      <div class="description">
        <h3>Gerenciamento da conta</h3>
      </div>
    </div>
  </section>
</main>
