<body>
  <div class="background-radiant">
    <main class="container">
      <section class="left-analysis">
        <div class="logo">
          <a href="index.html">
            <figure>
              <img src="assets/img/logo.svg" alt="Logo JobDeals" />
            </figure>
          </a>
        </div>
        <div class="analysis-effects">
          <div class="ring"></div>
          <div class="ring"></div>
          <div class="ring"></div>
        </div>

        <p class="p">Em Análise...</p>

        <div class="index">
          <a href="index.html"
            ><span class="material-symbols-outlined">arrow_back</span>IR PARA
            TELA INICIAL</a
          >
        </div>
      </section>
      <section class="right-analysis">
        <div class="card-warning">
          <div class="textfield">
            <label for="usuario">Prezado Cliente:</label>
            <p>
              Gostaríamos de informar que atualmente estamos conduzindo uma
              análise cuidadosa dos dados fornecidos. Este procedimento é
              crucial para garantir que possamos oferecer a você os melhores
              serviços personalizados e uma experiência excepcional.
            </p>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>
